server_name = "hydra-srt-dev-1"
server_type = "cax11"
location    = "fsn1"
image       = "ubuntu-24.04"

ssh_key_names = [
  "sts-main",
]

admin_ipv4_cidrs = [
  "203.0.113.10/32",
]

admin_ipv6_cidrs = []

app_ipv4_cidrs = [
  "0.0.0.0/0",
]

app_ipv6_cidrs = [
  "::/0",
]

app_port = 4000

stream_tcp_ports = [
  4201,
]

stream_udp_ports = [
  1234,
]

stream_ipv4_cidrs = [
  "0.0.0.0/0",
]

stream_ipv6_cidrs = [
  "::/0",
]

volume_name    = "hydra-srt-dev-data"
volume_size_gb = 20

enable_ipv4 = true
enable_ipv6 = true
backups     = false

labels = {
  app = "hydra-srt"
  env = "dev"
}
